/********************GLOBALE**********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 70%;
  margin: 0 auto;
}

.small {
  width: 60%;
  margin: 0 auto;
}

.btn{
  font-size: 14px;
  color: white;
  padding: 10px 20px;
  background-color: #0061ff;
  cursor: pointer;
  text-decoration: none;
}

.bg-color {
  width: 100%;
  background-color: #b4d0e7;
}

/********************HEADER**********************/


.logo, .left-nav {
  float: left;
}

.right-nav {
  float: right;
}

.logo img{
  vertical-align: middle;
}

.main-nav{
  width: 100%;
  text-align: center;
  height: 82px;
  line-height: 80px;
  min-width: 800px;
  overflow: hidden;
}

.main-nav ul{
  list-style: none;
}

.main-nav ul li{
  padding: 0 15px;
  display: inline-block;
  line-height: 80px;
  vertical-align: middle;
}

.main-nav ul li a{
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.main-nav ul li#inizia a {
  color:#fff;
}

.main-nav ul li:hover{
  border-bottom: 3px solid black;
  cursor: pointer;
}

.left-nav ul li:first-child, .right-nav ul li:last-child {
  border-bottom: none;
}

#inizia:hover {

}

/********************JUMBOTRON**********************/

.top-jumbo {
  font-size: 248%;
  margin-bottom: 3%;
}

.jumbotron .bg-color {
  color: #b4d0e7;
}

.left-jumbo {
  width: 30%;
  float: left;
}

.right-jumbo {
  width: 65%;
  float: right;
}

.jumbo-text {
  margin-bottom: 10%;
}

#prova-gratuita {
  margin-bottom: 5%;
}

.right-jumbo .jumbo-img {
  width: 100%;
}

/********************MAIN - FIRST SECTION**********************/


.first-section {
  background-color: white;
}

.title-giant {
  font-size: 266%;
  margin-top: 100px;
  margin-bottom: 50px;
  font-weight: bold;
}

.container-colonne .colonna1, .colonna2, .colonna3, .colonna4 {
  float: left;
  width: 28%;
  border: 1px solid black;
  margin-top: 30px;
}

.colonna2 {
  margin-left: 66px;
  margin-right: 66px;
}

.container-colonne .colonna4 {
  width: 96%;
  margin-bottom: 100px;
}

.col-head {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px;
}

.container-text-col {
  padding: 30px;
}

.col-title, .col-sub-title {
  line-height: 40px;
  font-weight: bold;
}

.col-first-list, .col-second-list {
  list-style: none;
  font-size: 14px;
  margin: 50px auto;
}

.col-first-list li, .col-second-list li {
  margin-bottom: 20px;
}

#prova-gratis {
  margin-bottom: 40px;
}

#ufficio-vendite {
  float: right;
}

.col-title {
  font-size: 26px;
}

.col-sub-title {
  font-size: 16px;
}

.col-raw, .redirect-link {
  font-size: 14px;
}

.col-raw {
  color: grey;
}

.black-raw {
  color: black;
}

.col-second-list li i {
  color: blue;
}



/********************MAIN - SECOND SECTION**********************/

.second-section {
  margin-bottom: 100px;
}

.text-second-section {
  margin-top: 50px;
}

.left-second-section {
  width: 50%;
  float: left;
}

.right-second-section {
  width: 50%;
  float: left;
  margin-top: 30px;
}

.left-second-section .partner-img {
  width: 90%;
  height: 90%;
}

.first-raw-second-section {
  font-size: 26px;
  font-weight: bold;
}

.first-raw-second-section, .second-raw-second-section {
  margin-bottom: 40px;
}

.btn-white {
  color: black;
  background-color: white;
  border: 2px solid black;
}


/********************MAIN - THIRD SECTION**********************/


.third-section {
  margin-bottom: 100px;
}

.small .first-raw-box, .second-raw-box {
  width: 30%;
  float: left;
  margin-top: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}

.first-raw-third-section {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 15px;
}

.img-gen {
  width: 100%;
  height: 100%;
}

/********************MAIN - FOURTH SECTION**********************/

.fourth-section {
  margin-bottom: 100px;
}

.small .text-box {
  width: 50%;
  margin-bottom: 40px;
}

.title-text-box {
  margin-bottom: 30px;
}

.link-text-box {
  font-weight: bold;
}

.square-big-box {
  width: 100%;
  height: 500px;
}

.square1 {
  float: left;
  width: 30%;
}

.square2 {
  float: left;
  width: 40%;
  background-color: green;
}

.square3 {
  float: left;
  width: 30%;
  background-color: blue; 
}

.square1 .tl-box-left, .tl-box-right {
  float: left;
  width: 50%;
  height: 250px;
}

.square1 .bl-box-left, .bl-box-right {
  float: left;
  width: 50%;
  height: 250px;
}

.tl-box-left {
  background-color: #a2d39b;
}

.tl-box-right {
  background-color: #61082c;
}

.bl-box-left {
  background-color: #1d93ce;
}

.bl-box-right {
  background-color: violet;
}

.logo-images {
  width: 100%;
  height: 100%;
  padding: 20%;
  filter: invert(1);
}

.square2 {
  background-color: #f5f5f5;
  height: 100%;
}

.middle-logo-ds {
  padding: 8%;
  height: 35%;
  border-bottom: 1px solid grey;
}

.text-zone, .credit-text-zone {
  padding: 8%;
  font-weight: 600;
}

.square3 .tl-box-left, .tl-box-right {
  float: left;
  width: 50%;
  height: 250px;
}

.square3 .bl-box-left, .bl-box-right {
  float: left;
  width: 50%;
  height: 250px;
}

.square3 .tl-box-left {
  background-color: #d5021f;
}

.square3 .tl-box-right {
  background-color: #b4d0e7;
}

.square3 .bl-box-left {
  background-color: #0d2481;
}

.square3 .bl-box-right {
  background-color: #fed830;
}

.main-bottom {
  height: 300px;
}

.main-bottom-text {
  width: 50%;
  padding-top: 80px;
  font-size: 266%;
  font-weight: bold;
  color: #61082c;
}

.btn-white-nb {
  color: black;
  background-color: white;
  font-weight: 600;
}


/********************MAIN - FIFTH SECTION**********************/

.fifth-section {
  margin-bottom: 100px;
}

.title-fifth {
  font-size: 200%;
  font-weight: bold;
}

.raw-fifth-section {
  font-size: 16px;
  font-weight: bold;
}

.fa-angle-down {
  float: right;
  margin-right: 40px;
}

.title-fifth, .raw-fifth-section {
  border-bottom: 1px solid #d1d1d4;
  padding-top: 30px;
  padding-bottom: 30px;
}
