/********************GLOBALE**********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 70%;
  margin: 0 auto;
}

.small {
  width: 60%;
  margin: 0 auto;
}

.btn{
  font-size: 14px;
  color: white;
  padding: 10px 20px;
  background-color: #0061ff;
  text-decoration: none;
}

.bg-color {
  width: 100%;
  background-color: #b4d0e7;
}

/********************HEADER**********************/


.logo, .left-nav {
  float: left;
}

.right-nav {
  float: right;
}

.logo img{
  vertical-align: middle;
}

.main-nav{
  width: 100%;
  text-align: center;
  height: 80px;
  line-height: 80px;
  min-width: 800px;
  overflow: hidden;
}

.main-nav ul{
  list-style: none;
}

.main-nav ul li{
  padding: 0 15px;
  display: inline-block;
  line-height: 80px;
  vertical-align: middle;
}

.main-nav ul li a{
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.main-nav ul li#inizia a {
  color:#fff;
}

.main-nav ul li:hover{
  border-bottom: 1px solid black;
}

/********************JUMBOTRON**********************/

.top-jumbo {
  font-size: 248%;
  margin-bottom: 3%;
}

.jumbotron .bg-color {
  color: #b4d0e7;
}

.left-jumbo {
  width: 30%;
  float: left;
}

.left-jumbo .jumbo-text {
  display: inline-block;
}

.right-jumbo {
  width: 65%;
  float: right;
}

.right-jumbo .jumbo-img {
  width: 80%;
  height: 80%;
}

/********************MAIN - FIRST SECTION**********************/


.first-section {
  background-color: white;
}

.container-colonne .colonna1, .colonna2, .colonna3, .colonna4 {
  float: left;
  width: 24%;
  border: 1px solid black;
  margin-top: 30px;
}

.colonna2 {
  margin-left: 150px;
  margin-right: 150px;
}

.container-colonne .colonna4 {
  width: 98%;
}

.col-head {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px;
}

.container-text-col {
  padding: 40px;
}

.col-first-list, .col-second-list {
  list-style: none;
  margin: 40px auto;
}

.col-first-list li, .col-second-list li {
  margin-bottom: 20px;
}

/********************MAIN - SECOND SECTION**********************/


.text-second-section {
  margin-top: 50px;
}

.left-second-section {
  width: 50%;
  float: left;
}

.right-second-section {
  width: 50%;
  float: left;
  margin-top: 30px;
}

.left-second-section .partner-img {
  width: 90%;
  height: 90%;
}

.first-raw-second-section, .second-raw-second-section {
  margin-bottom: 40px;
}

.btn-white {
  color: black;
  background-color: white;
  border: 2px solid black;
}


/********************MAIN - THIRD SECTION**********************/


.small .first-raw-box, .second-raw-box {
  width: 30%;
  float: left;
  margin-top: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}

.img-gen {
  width: 100%;
  height: 100%;
}

/********************MAIN - FOURTH SECTION**********************/

.small .text-box {
  width: 50%;
}

.title-text-box {
  margin-bottom: 30px;
}

.link-text-box {
  margin-bottom: 30px;
}

.square-big-box {
  width: 100%;
  height: 500px;
  background-color: red;
}

.square1 {
  float: left;
  width: 30%;
}

.square2 {
  float: left;
  width: 40%;
  background-color: green;
}

.square3 {
  float: left;
  width: 30%;
  background-color: blue; 
}

