/********************GLOBALE**********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.btn{
  font-size: 14px;
  color: white;
  padding: 10px 20px;
  background-color: #0061ff;
  text-decoration: none;
}

.bg-color {
  width: 100%;
}

/********************HEADER**********************/


.logo, .left-nav {
  float: left;
}

.right-nav li {
  float: right;
}

.logo img{
  vertical-align: middle;
}

.main-nav{
  width: 100%;
  text-align: center;
  height: 80px;
  line-height: 80px;
  min-width: 800px;
  overflow: hidden;
}

.main-nav ul{
  list-style: none;
}

.main-nav ul li{
  padding: 0 15px;
  display: inline-block;
  line-height: 80px;
  vertical-align: middle;
}

.main-nav ul li a{
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.main-nav ul li:hover{
  border-bottom: 1px solid black;
}

/********************JUMBOTRON**********************/

.jumbotron .bg-color {
  color: #b4d0e7;
}

.left-jumbo {
  width: 30%;
  float: left;
}

.left-jumbo .jumbo-text {
  display: inline-block;
}

.right-jumbo {
  width: 65%;
  float: right;
}

.right-jumbo .jumbo-img {
  width: 80%;
  height: 80%;
}

/********************MAIN**********************/


.col-head {
  width: 25%;
  text-align: center;
  border: 1px solid #d3d3d6;
}

.col-first-list {
  list-style: none;
}

.col-second-list {
  list-style: none;
}

